.a {
  width: 500px;
  height: 500px;
  border: solid black 10px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 100px;
  text-align: center;
}

h1 {
  text-align: center;
}

img {
  width: 400px;
  height: 400px;
  margin: 10px auto;
}
